<ion-header>
  <ion-toolbar>
    <ion-title>
      myNews
    </ion-title>
  </ion-toolbar>
  <!-- Scrollable Segment -->
  <ion-segment [(ngModel)] ="value" scrollable (ionChange)="updateNews()">
    <ion-segment-button checked value="ng">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="us" >
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="de"  >
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="gb" >
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="rw" >
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  <!--  <ion-segment-button value="cm" >
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bj" >
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button> -->
  </ion-segment>
</ion-header>

<ion-content>
  

  <ion-card *ngFor="let new of news" color="success">
    <ion-card-header>
      <ion-card-subtitle>{{new.author}}</ion-card-subtitle>
      <ion-card-title>{{new.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     {{new.description}}
    </ion-card-content>
  </ion-card>


</ion-content>
